/*Derek Chun - 6/15/2022*/

/*Custom style definitions used on the home page*/

.blue_text{
    color:blue;
}

.center_text{
    text-align: center;
}

.new_font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.alignment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

/*Custom style definitions used on the about me page*/

.white_text{
    color:white;
    text-decoration: underline;
}

.resume_font{
    font-family: Arial, Helvetica, sans-serif;
}

.resume_italics{
    font-style: italic;
    font-weight: normal;
}

.resume_underline{
    text-decoration: underline;

}